<footer class="footer">

    <div class="footer-logo">
        <span class="logo-name">Juan</span>
        <span class="logo-punto">.</span>
        <span class="logo-dev">Dev</span>
    </div>

    <div class="footer-links">

        <a href="https://github.com/JuanJaramilloDev" target="_blank">
            <i class="fa-brands fa-github"></i>
            GitHub
        </a>

        <a href="https://linkedin.com/in/juanjaramillodev" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
        </a>

        <a href="mailto:juanfer2177@gmail.com">
            <i class="fa-solid fa-envelope"></i>
            Correo
        </a>

    </div>

    <span class="footer-copy">
        © 2026
    </span>

</footer>
